<deployment>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55999"/>
  <jvms2hostnames>
    <jvm2hostname jvmuri="datacenter" rmiRegistryCreator="true"
                  hostname="localhost"/>
    <jvm2hostname jvmuri="datacenterclient" rmiRegistryCreator="false"
                  hostname="localhost"/>
  </jvms2hostnames>
</deployment>